.subscribe-button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}
.is-subscribed {
  background-color: rgb(240, 240, 240);
  color: black;
}

body {
  font-family: Arial;
}

.cost-input {
  font-size: 15px;
  padding: 10px 10px;
}

.calculate-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
}

.error-message {
  color: red;
  
}